<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Category</title>
</head>
<body>
<!--<div onclick="location.href='vehicle';" class="pop-up-background">-->

<div th:insert="home/Category/category :: body"></div>
<div th:insert="home/style :: style"></div>

<div class="pop-up">
    <form style="text-align: center"; action="/createCategory" method="post">
        <h1 style="text-align: center">Add New Category</h1>

        <label>Category Name</label><br><br>
        <input type="text" name="catName"><br><br>
        <label>Model Name</label><br><br>
        <input type="text" name="modelName"><br><br>
        <label>Brand</label><br><br>
        <input type="text" name="brand"><br><br>
        <label>Base Price (daily)</label><br><br>
        <input min="0" maxlength="7" type="number" name="catPrice"><span> kr.</span><br><br>
        <label>Short Category Description</label><br><br>
        <input type="text" name="catDescription"><br><br>
        <input type="submit" value="Create Category"><br><br>
    </form>
</div>

</form>

<!--</div>-->
</body>
</html>