<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Vehicle</h1>
<form action="/createVehicle" method="post">

    <label>Registration Number</label>
    <input type="text" name="regNumber"><br><br>
    <label>Category Identification</label>
    <input type="number" name="categoryID"><br><br>
    <label>Year of Fabrication</label>
    <input type="number" name="yearStmp"><br><br>
    <label>Odometer</label>
    <input type="number" name="odometer"><br><br>
    <label>Transmission</label>
    <input type="text" name="transmission"><br><br>
    <label>Fuel Type</label>
    <input type="text" name="fuelType"><br><br>
    <label>Description</label>
    <input type="text" name="descriptionX"><br><br>
    <label>Operational</label>
    <input type="number" name="operational"><br><br>
    <label>Comments</label>
    <input type="text" name="oComment"><br><br>
    <input style="background-color: aliceblue" type="submit" value="Create Vehicle">
</form>
</body>
</html>