<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div onclick="location.href='vehicle';" class="pop-up-background">-->

<div th:insert="home/Vehicle/vehicle :: body"></div>
<div th:insert="home/style :: style"></div>

<div class="pop-up">
    <div onclick="location.href='vehicle';" class="close-pop-up">X</div>
    <form action="/createVehicle" method="post">
        <h1>Add New Vehicle</h1>

        <label>Registration Number</label><br><br>
        <input type="text" minlength="7" maxlength="7" name="regNumber" value="XX00000"><br><br>
        <label>Category Identification</label><br><br>
        <input type="number" min="0" th:max="${numberOfCategories}" name="catId" value="0"><br><br>
        <label>Year of Fabrication</label><br><br>
        <input type="number" minlength="4" maxlength="4" min="1900" th:max="${year}" name="yearStmp" th:value="${year}"><br><br>
        <label>Odometer</label><br><br>
        <input type="number" min="0" max="999999" maxlength="6" name="odometer" value="000000"><br><br>
        <label>Transmission</label><br><br>
        <input type="radio" value="Manual" name="transmission" checked>
        <span>Manual</span>
        <input type="radio" value="Automatic" name="transmission">
        <span>Automatic</span><br><br>
        <label>Fuel Type</label><br><br>
        <input type="radio" value="Diesel" name="fuelType" checked>
        <span>Diesel</span>
        <input type="radio" value="Petrol" name="fuelType">
        <span>Petrol</span><br><br>
        <input type="submit" value="Create Vehicle">
    </form>
</div>

<!--</div>-->
</body>
</html>