<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="home/Vehicle/vehicle :: body"></div>
<div th:insert="home/style :: style"></div>


<div class="pop-up">
    <form action="/createVehicle" method="post">
        <h1>Add New Vehicle</h1>

        <label>Registration Number</label><br><br>
        <input type="text" minlength="7" maxlength="7" name="regNumber"><br><br>
        <label>Category Identification</label><br><br>
        <input type="number" min="0" th:max="${numberOfCategories}" name="catId"><br><br>
        <!--
        <span action="/chooseCategory" method="get"><input type="submit" value="CHOOSE CATEGORY"></span><br></br>
        -->

        <label>Year of Fabrication</label><br><br>
        <input type="number" min="1800" th:max="${year}" name="yearStmp"><br><br>
        <label>Odometer</label><br><br>
        <input type="number" min="0" max="999999" name="odometer"><br><br>
        <label>Transmission</label><br><br>
        <input type="radio" value="Manual" name="transmission">
        <label>Manual</label>
        <input type="radio" value="Automatic" name="transmission">
        <label>Automatic</label><br><br>
        <label>Fuel Type</label><br><br>
        <input type="radio" value="Diesel" name="fuelType">
        <label>Diesel</label>
        <input type="radio" value="Petrol" name="fuelType">
        <label>Petrol</label><br><br>
        <input type="submit" value="Create Vehicle">
    </form>
</div>
</body>
</html>