<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Page</title>
    <link rel="stylesheet" type="text/css" href="../../../static/styler.css">
    <link rel="stylesheet" type="text/css" href="basicStyling.css">
</head>
<body>

<div th:insert="home/style :: style"></div>
<div th:insert="home/Index/owner :: header"></div>

<div class="to-back">
    <h1>Vehicle List</h1>
    <a href="/createVehicle">
        <button class="button-create" style="color: #0000ff"  >
            Add New Vehicle
        </button>
    </a>

    <form th:action="@{/vehicle}" method="get">
        <input id="Search" type="text" minlength="7" maxlength="7" name="keyword" placeholder="XX12345" style="margin-left: 300px">
        <button type="submit">Search</button>
    </form><br>

    <table>
        <thead >
        <tr>
            <th>Vehicle Registration Number</th>
            <th>Category ID</th>
            <th>Year</th>
            <th>Odometer</th>
            <th>Transmission</th>
            <th>Fuel</th>
            <th>Status</th>
            <th><div>Additional Comments</div><div>(if not available for rental)</div></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle: ${vehicles}">
            <td th:text="${vehicle.regNumber}"/>
            <td th:text="${vehicle.catId}"/>
            <td th:text="${vehicle.yearStmp}"/>
            <td th:text="${vehicle.odometer}"/>
            <td th:text="${vehicle.transmission}"/>
            <td th:text="${vehicle.fuelType}"/>
            <td th:if="${vehicle.operational}">
                <span>Available for rental</span>
            </td>
            <td th:unless="${vehicle.operational}">
                <span>Not available for rental</span>
            </td>
            <td th:text="${vehicle.oComment}"/>
            <td>
                <a th:href="@{'/updateVehicle/'+${vehicle.regNumber}}">
                    <button>UPDATE</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/deleteVehicle/'+${vehicle.regNumber}}">
                    <button>DELETE</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>