<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create customer and address</title>
    <link rel="stylesheet" type="text/css" href="stylerA.css">
</head>
<body>

<h1 style="text-align: center">Create new customer</h1>
<!---------------------------------------------------
    @Ástþór Arnar
    Action uses postMapping method to create address and customer and link them together using addressId
---------------------------------------------------->

    <form style="text-align: center"; action="/createAddressAndCustomer" method="post">
        <p><label>Address</label></p>
        <input type="text" name="address">
        <p><label>Zip Code</label></p>
        <input type="text" name="zip">
        <p><label>City</label></p>
        <input type="text" name="city">
        <p><label>Country</label></p>
        <input type="text" name="country">


        <p> <label>Full Name</label></p>
        <input type="text" name="fullName"><br><br>
        <p><label>Driver License No</label></p>
        <input type="text" name="driverLicNo"><br><br>
        <p><label>DOB</label></p>
        <input type="date" name="dob"><br><br>
        <p><label>Phone Number</label></p>
        <input type="tel" name="phoneNo"><br><br>   <!-- displays tel keypad on small devices likes phones : @Christian -->
        <p><label>Email</label></p>
        <input type="email" name="email"><br><br>

        <input style="background-color: aliceblue" type="submit" value="Create New Customer">
    </form>


</body>
</html>