<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" type="text/css" href="stylerA.css">
</head>
<body>

<div th:insert="home/style :: style"></div>
<div th:insert="home/Index/staff :: header"></div>

<!---------------------------------------------------
    @Ástþór Arnar
    Displays all customers and allows user to input a keyword which checks the database for any names that include
    the keyword inserted. The list narrows down after pressing "Go" button.
    href links to viewCustomer page where user can update customer information or delete the customer.

---------------------------------------------------->
<h1>Customer list</h1>
<a href="/createAddressAndCustomer">
    <button>
        Create New Customer
    </button>
</a>

<form th:action="@{/customer}" method="get">
    <input id="Search" type="text" name="keyword" placeholder="Search">
    <button type="submit">Go</button>
</form>

<table style="font-size: small">
    <thead >
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Driver Licence Number</th>
        <th>Date Of Birth</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.customerId}"/>
        <td th:text="${customer.fullName}"/>
        <td th:text="${customer.driverLicNo}"/>
        <td th:text="${customer.dob}"/>
        <td th:text="${customer.phoneNo}"/>
        <td th:text="${customer.email}"/>
        <td th:text="${customer.addressId}"/>
        <td>
            <a th:href="@{'/viewCustomer/'+${customer.customerId}}">
                <button>View Customer</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
