<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customer Page</title>
    <link rel="stylesheet" type="text/css" href="stylerA.css">
</head>
<body>

<div th:insert="home/style :: style"></div>
<div th:insert="home/Index/staff :: header"></div>

<!---------------------------------------------------
    @Ástþór Arnar
    Displays all customers and allows user to input a keyword which checks the database for any names that include
    the keyword inserted. The list narrows down after pressing "Go" button.
    href links to viewCustomer page where user can update customer information or delete the customer.
---------------------------------------------------->
<h1 style="text-align: center">Customer list</h1>

<h1>Customer list</h1>
<a href="/createAddressAndCustomer">
    <button style="text-align: center";>
        Create New Customer
    </button>
</a>

<form style="text-align: center"; th:action="@{/customer}" method="get">
    <input id="Search" type="text" name="keyword" placeholder="Search Customer">
    <button type="submit">Go</button>
</form>

<table style="margin-left:auto;margin-right:auto; margin-top: auto">
    <thead >
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Driver Licence Number</th>
        <th>Date Of Birth</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.customerId}"/>
        <td th:text="${customer.fullName}"/>
        <td th:text="${customer.driverLicNo}"/>
        <td th:text="${customer.dob}"/>
        <td th:text="${customer.phoneNo}"/>
        <td th:text="${customer.email}"/>
        <td th:text="${customer.addressId}"/>
        <td>

            <a th:href="@{'/viewCustomer/'+${customer.customerId}}">
                <button>View Customer</button>
            </a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
