<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Customer Details</h1>
    <!---------------------------------------------------
        @Ástþór Arnar
        Action uses postMapping method to save customer in system.
        Html page displays input fields where user can update customer information or delete customer using href.
    ---------------------------------------------------->
    <form action="/saveCustomer" method="post">
        <div>
            <strong>
            Customer ID:
            <input type="text" name="customerId" id="testCSS" th:value="${customer.customerId}" readonly style="display: none;">
            <span th:text="${customer.customerId}"/>
            </strong>
            <br/>
        </div>
        <br>
        <fieldset>
            <legend>Enter details: </legend>
            <br>
            <label for="name">Name: </label>
            <input type="text" name="fullName" th:value="${customer.fullName}" id="name"> <br><br>
            <label for="driverLic">Driver Licence Number: </label>
            <input type="text" name="driverLicNo" th:value="${customer.driverLicNo}" id="driverLic"><br><br>
            <label for="dob">Date Of Birth: </label>
            <input type="date" name="dob" th:value="${customer.dob}" id="dob"><br><br>
            <label for="phone">Phone Number: </label>
            <input type="text" name="phoneNo" th:value="${customer.phoneNo}" id="phone"><br><br>
            <label for="mail">Email: </label>
            <input type="text" name="email" th:value="${customer.email}" id="mail"><br><br>
            <label for="address">AddressId: </label>
            <input type="text" name="addressId" th:value="${customer.addressId}" id="address"><br><br>
        </fieldset>

        <input type="submit" value="Save Changes">
    </form>
    <a th:href="@{'/deleteCustomer/'+${customer.customerId}}">
        <button class="btn-deleteCustomer" , id="btn-deleteCustomer">
            Delete
        </button>
    </a>

</body>
</html>
