<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Check Availability</h1>
    <form th:action="@{/availability}" method="get">
        <input id="SearchStart" type="date" name="startDate" placeholder="Start Date">
        <input id="SearchEnd" type="date" name="endDate" placeholder="End Date">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>UnAvailable Vehicle RegNumber</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle: ${vehicles}">
            <td th:text="${vehicle.vehicleRegNumber}"/>
        </tr>
        </tbody>
    </table>
</body>
</html>