<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Page</title>
    <link rel="stylesheet" type="text/css" href="styler.css">
</head>
<body>
<h1>Vehicle List</h1>
<a href="/create">
    <button class="btn-create" id="btn-create">
        Create New Vehicle
    </button>
</a>
<table>
    <thead>
    <tr>
        <th>Registration Number</th>
        <th>Category</th>
        <th>Year</th>
        <th>Odometer</th>
        <th>Transmission</th>
        <th>Fuel</th>
        <th>Description</th>
        <th>Availability</th>
        <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicle: ${vehicles}">
        <td th:text="${vehicle.regNumber}"/>
        <td th:text="${vehicle.categoryID}"/>
        <td th:text="${vehicle.year_stmp}"/>
        <td th:text="${vehicle.odometer}"/>
        <td th:text="${vehicle.fuelType}"/>
        <td th:text="${vehicle.description}"/>
        <td th:text="${vehicle.availability}"/>
        <td th:text="${vehicle.aComments}"/>
        <td th:text="${}"/>
        <td>
            <a th:href="@{'/viewVehicle/+${vehicle.regNumber}'}">
                <button class="btn-viewVehicle" , id="btn-viewVehicle">
                    Select Car
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>