<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="home/Index/staff :: body"></div>
<div th:insert="home/style :: style"></div>

<div class="pop-up">
    <form action="/bookingFinish" method="post" name="bookingNo" th:value="${booking.bookingNo}">
        <h1>Please enter additional information about vehicle's condition before finishing:</h1>

        <label>Current Odometer Value</label><br><br>
        <input type="number" th:min="${oldOdometer}" max="999999" name="odometer" th:placeholder="${oldOdometer}"><br><br>

        <label>Was Tank Less Than 1/2 Full?</label><br><br>
        <span>
            <input type="radio" value="true" name="isLowTank" checked>
            <label>Yes</label>
            <input type="radio" value="false" name="isLowTank">
            <label>No</label><br><br>
        </span>

        <input type="submit" value="Mark As Finished">
    </form>
</div>

</body>
</html>