<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DropOff Address</title>
</head>
<body>

<label>Address</label>
<input type="text"
       th:value="${address.address}"  name="address"><br><br>
<label>zip</label>
<input type="text"
       th:value="${address.zip}"  name="zip"><br><br>
<label>City</label>
<input type="text"
       th:value="${address.city}"  name="city"><br><br>
<label>Country</label>
<input type="text"
       th:value="${address.country}" name="country"><br><br>
<label>Distance From Office:</label>
<input type="text"
       th:value="${address.distance}" name="distance"><br><br>

<!-- Want to get the values entered above in the input fields for this link to be able to use them as pathVariables -->
<a th:href="@{/createBookingDropOffAddress/booking/{bookingNo}/address/{address}/{zip}/{city}/{country}/{distance}(bookingNo = ${booking.bookingNo}, address = ${address.address}, zip = ${address.zip}, city = ${address.city}, country = ${address.country}, distance = ${address.distance})}">
    <!-- This href calls a GetMapping, because I can't find out how to set PathVariables for PostMappings. (without JS)  -->
    <button>
        Create Address and continue
    </button>
</a>
</body>
</html>