<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Booking</title>
</head>
<body>
    <h1>New Booking</h1>

    <div>
        <table>
            <thead>
            <tr>
                <th>Booking Number</th>
                <th>Vehicle Registration Number</th>
                <th>Pick Up Date</th>
                <th>Drop Off Date</th>
                <th>Customer Id</th>
                <th>Booking Status</th>
                <th>Bike Rack</th>
                <th>Bed Linen</th>
                <th>Child Seat</th>
                <th>Total Price</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="booking: ${booking}">
                <td th:text="${booking.bookingNo}" />
                <td th:text="${booking.regNumber}" />
                <td th:text="${booking.pickUpDate}"/>
                <td th:text="${booking.dropOffDate}"/>
                <td th:text="${booking.customerId}"/>
                <td th:text="${booking.bookingStatus}"/>
                <td th:text="${booking.bikeRack}"/>
                <td th:text="${booking.bedLinen}"/>
                <td th:text="${booking.childSeat}"/>
                <td th:text="${booking.totalPrice}"/>
            </tr>
            </tbody>
        </table>
    </div>

    <label>Create New PickUp Location for this booking:</label>
    @GetMapping("/createBookingAddressPickUp/{bookingNo}")
    <div th:each="booking: ${booking}">
        <a th:href="@{'/createAddressTest/'+${booking.bookingNo}}">
            <button>
                Try this one
            </button>
        </a>
        <a th:href="@{'/createBookingAddressPickUp/'+${booking.bookingNo}}">
            <button>
                Create PickUpAddress
            </button>
        </a>
    </div>


    <!--<div th:if="${variable.something} == null">-->
    <form action="/saveBooking" method="post">
        <div>
            <strong>
                Booking ID:
                <input type="text" name="bookingNo" th:value="${booking.bookingNo}" readonly>
            </strong>
        </div>
        <br>
        <fieldset>
            <legend>Booking Details</legend>
            <br>
            <label>regNumber</label>
            <input type="text" name="regNumber" th:value="${booking.regNumber}" readonly><br><br>

            <label>pickUpDate</label>
            <input type="date" name="pickUpDate" th:value="${booking.pickUpDate}" readonly><br><br>

            <label>dropOffDate</label>
            <input type="date" name="dropOffDate" th:value="${booking.dropOffDate}" readonly><br><br>

            <label>CustomerId</label>
            <input type="number" name="customerId" th:value="${booking.customerId}" readonly><br><br>

            <label>Customer Name</label>
            <input type="text" name="fullName" th:value="${customer.fullName}" readonly><br><br>

            <label>bookingStatus</label>
            <input type="text" name="bookingStatus" th:value="${booking.bookingStatus}" readonly><br><br>

            <label>customerId</label>
            <input type="text" name="customerId" th:value="${booking.customerId}" readonly><br><br>

            <label>pickUpId</label>
            <input type="number" name="pickUpId" th:value="${booking.pickUpId}" readonly><br><br>


            <label>dropOffId</label>
            <input type="number" name="dropOffId" th:value="${booking.dropOffId}"readonly><br><br>

            <label>bikeRack</label>
            <input type="radio" id="true" name="bikeRack" value="1">
            <label for="true">Yes</label>
            <input type="radio" id="false" name="bikeRack" value="0">
            <label for="false">No</label><br><br>

            <label>bedLinen</label>
            <input type="number" name="bedLinen" th:value="${booking.bedLinen}"><br><br>

            <label>childSeat</label>
            <input type="number" name="childSeat" th:value="${booking.childSeat}"><br><br>

            <LABEL>Total Price</LABEL>
            <input type="number" name="totalPrice" th:value="${booking.totalPrice}" readonly><br><br>
            <input type="submit" value="Save Changes">

        </fieldset>
    </form>

</body>
</html>