<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>Address List</h1>

<!-- Testing data retrieval from temporary MySQL address table-->
<table>
    <thead>
    <tr>
        <th>addressID</th>
        <th>address</th>
        <th>zip</th>
        <th>city</th>
        <th>country</th>
        <th>distance</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address: ${addressL}">
        <td th:text="${address.addressId}"/>
        <td th:text="${address.address}"/>
        <td th:text="${address.zip}"/>
        <td th:text="${address.city}"/>
        <td th:text="${address.country}"/>
        <td th:text="${address.distance}"/>
        <td>
            <a th:href="@{'/viewOneAddress/'+${address.addressId}}">
                <button class="btn-viewOne", id ="btn-viewOne">View one</button>
            </a>
            <a th:href="@{'/deleteAddress/'+${address.addressId}}">
                <button class="btn-delete", id ="btn-delete">Delete</button>
            </a>
            <a th:href="@{'/updateAddress/'+${address.addressId}}">
                <button class="btn-update", id ="btn-update">Update</button>
            </a>
        </td>
    </tr>

    <a href="/createAddress">
        <button class="btn-create" id="btn-create">
            Create New Address
        </button>
    </a>

    </tbody>
</table>

</body>
</html>