<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>

<!---------------------------------------------------
    @Justé
---------------------------------------------------->

<!-- One of the examples how we inherit the style pat of our
style.html file which in this case acts like a stylesheet -->
<div th:insert="home/style :: style"></div>

<br class="pop-up">
<h1 style="text-align: center">Please select your position:</h1><br></br>
    <form style="text-align: center"; th:action="@{'/'}" method="get">
        <input type="radio" value="owner" name="position"/>
        <label>Owner</label><br></br><br></br>
        <input type="radio" value="staff" name="position"/>
        <label>Staff Member</label><br></br><br></br>
        <input type="radio" value="mechanic" name="position"/>
        <label>Mechanic</label><br></br><br></br>

        <input type="submit" name="SUBMIT">
    </form>
</div>


</body>
</html>